<!-- applying bootstrap -->
<div>
<h1 class="bg-primary">welcome to .....</h1>
<!-- using matButton Module -->
<button mat-button>Basic</button>
    <button mat-button color="primary">Primary</button>
    <button mat-button color="accent">Accent</button>
    <button mat-button color="warn">Warn</button>

    <!-- communication between the two component -->
    <h1>
    <app-add-contact></app-add-contact>
    </h1>

    <!-- dirctive -->
    <!-- ngif -->
    <input type="radio" name="radio" (click)="change(true)">Yes
    <input type="radio" name="radio" (click)="change(false)">no
    <br>
    <div *ngIf="name;then thenblock; else elseblock">valid data</div>
    <ng-template #thenblock>then block...run</ng-template>
    <ng-template #elseblock>else block...run</ng-template>

    <!-- for loop -->
    <div *ngFor="let i of Info">
      {{i.firstName}} {{i.lastname}}
    </div>
    <br>

    <!-- switch -->
    <h1>
    <div [ngSwitch]="age">
      <div *ngSwitchCase="10"> age is 10</div>
      <div *ngSwitchCase="40"> age is 40</div>
      <div *ngSwitchCase="70"> age is 70</div>
      <div *ngSwitchCase="100"> tax is 100</div>
      <div *ngSwitchDefault=""> tax is not a valid</div>
    </div>
  </h1>
  </div>